.todo-input-wrapper {
    flex: 0 0;
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 8px 2px #f3f3f35e;
    box-sizing: border-box;
}

.todo-input {
    flex: 1 1;
    height: 40px;
    padding: 5px;

    &:focus {
        outline: 1px solid rgba(43, 135, 255, 0.34);
    }

    &::placeholder {
        color: #d4d4d4;
        user-select: none;
    }
}